body {
    background: url(../img/background.jpg) no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'Lobster', sans-serif;
    color: rgb(128, 128, 128);
}

@supports (-webkit-background-clip: text) {
    h1 {
        background: -webkit-linear-gradient(#eee, #333);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}